<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <title>Home</title>

</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo choco.png" alt="logo de chocolateria">
            <p class="submit"><input type="search" placeholder="Buscar"></p>
            <i class="fa fa-search"></i>

            <ul>
                <li>
                    <a href="#">Mi cuenta<i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="#">Mi carrito<i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </div>
        <nav class="main-navbar">
            <ul class="navbar">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>

    </header>
    <section>
        <img class=banner src="/images/banner.png" alt="banner">
    </section>
</body>

</html>