<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <title>Home</title>

</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo choco.png" alt="logo de chocolateria">
            <div class="buscadorYcuenta">
                <p class="submit"><input type="search" placeholder="Buscar"></p><button type="submit"><i
                        class="fa fa-search"></i></button>
                <nav class="top-navbar">
                    <ul class="miCuentayCarrito">
                        <li class="miCuenta"><a href="#"><i class="fas fa-sign-in-alt"></i>Mi cuenta</a></li>
                        <li class="miCarrito"><a href="#"><i class="fas fa-truck"></i>Mi carrito</i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="navbar">
                <li class="inicio"><a href="#">Inicio</a></li>
                <li><a href="#">Productos</li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>


    </header>
    <section>
        <img class=banner src="/images/banner.png" alt="banner">
    </section>


    <main>
        <section class="section-artic">
            <p class="titular">Promociones</p4>
            <div class="productos">
                <article class="articulo">
                    <img class="img-articulo" src="/images/caja chocolates.jpg" alt="imagen de promo1">
                    <div class="producto">
                        <p class="precio">$5.200</p>
                        <p class="descuento"> 2x1 Producto del día</p>
                        <p class="descripcion">Box - 70 Mini Chocolates</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="img-articulo" src="/images/frutillas.jpg" alt="imagen de promo2">
                    <div class="producto">
                        <p class="precio">$6.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">Box - 15 Frutilates.</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="img-articulo" src="/images/bomboness.jpg" alt="imagen de promo3">
                    <div class="producto">
                        <p class="precio">$7.300</p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Box - Bombones x3 doc.</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="img-articulo" src="/images/alfajores.jpg" alt="imagen de promo4">
                    <div class="producto">
                        <p class="precio">$4.100</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">Alfajores x12"</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="section-artic">
            <p class="titular">Productos destacados</p>
            <div class="productos">
                <article class="articulo">
                    <img class="img-articulo" src="/images/chocoOreo.jpg" alt="imagen producto1">
                    <div class="producto">
                        <p class="precio">$6.700</p>
                        <p class="descripcion">ChocoOreo</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="img-articulo" src="/images/rama.jpg" alt="imagen de producto2">
                    <div class="producto">
                        <p class="precio">$1.500</p>
                        <p class="descripcion">Chocolate en rama 500gr</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="img-articulo" src="/images/tableta.jpg" alt="imagen de producto3">
                    <div class="producto">
                        <p class="precio">$1200</p>
                        <p class="descripcion">Tableta 500gr.</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <section class="contactos-footer">
            <p class="subtitulofooter">Contacto</p>
            <ul class="redes">
                <li><a href="#"> <img class="red" src="/images/wsp.jpg" alt="whatsapp"></a></li>
                <li><a href="#"> <img class="red" src="/images/inst.jpg" alt="instagram"></a></li>
                <li><a href="#"> <img class="red" src="/images/face.jpg" alt="facebook"></a></li>
            </ul>
            <ul class="contactos">
                <li><a href="#"> <img class="red" src="/images/tel.jpg" alt="telefono"></a></li>
                <li>chocolatedreams@gmail.com</li>
                <li><a href="#"> <img class="red" src="/images/mail.jpg" alt="mail"></a></li>
                <li>11-2832-4923</li>
            </ul>
        </section>

        <section class="mediosDePago-footer">
            <p class="subtitulofooter">Medios de pago</p>
            <li>MercadoPago</li>
            <li>Tarjeta de débito</li>
            <li>Tarjeta de crédito</li>
        </section>
        <section class="sucursales-footer">
            <p class="subtitulofooter">Sucursales</p>
            <li>Ciudad Autónoma de Buenos Aires - Av. Corrientes 3453</li>
            <li>Río cuarto, Córdoba - Belgrano 34593</li>
            <li>Merlo, San Luis - Calle 15, 870</li>
        </section>
    </footer>
    <section class="sec-copyright">
        <p class="copyright">Copyright © 2008-2022 ChocolateDreams S.R.L.</p>
    </section> 
</body>

</html>