<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <title>Home</title>

</head>

<body>
    <header>
        <img class="logo" src="/images/logo choco.png
    " alt="logo de chocolateria">
        <div class="submit">
            <input type="search" placeholder="Buscar"> <i class="fa fa-search"></i>
        </div>
        <ul>
            <li>
                <a href="#">Mi cuenta<i class="fa-solid fa-user"></i></a>
            </li>
            <li>
                <a href="#">Mi carrito<i class="fa-solid fa-cart-shopping"></i></a>
            </li>
        </ul>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Nosotros</a></li>
        </ul>


    </header>
</body>

</html>