<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo choco.png" alt="logo de chocolateria">
            <div class="buscadorYcuenta">
                <p class="submit"><input type="search" placeholder="Buscar"></p><button type="submit"><i
                        class="fa fa-search"></i></button>
                <nav class="top-navbar">
                    <ul class="miCuentayCarrito">
                        <li class="miCuenta"><a href="#"><i class="fas fa-sign-in-alt"></i>Mi cuenta</a></li>
                        <li class="miCarrito"><a href="#"><i class="fas fa-truck"></i>Mi carrito</i></a>
                            <li class="crearCuenta"><a href="/register"><i class="fa-sharp fa-solid fa-user">Crear cuenta</i></a></li>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="navbar">
                <li class="inicio"><a href="">Inicio</a></li>
                <li><a href="/productDetail">Productos</li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>


    </header>


    <main>

        <section class="login">
        <h1 class="login__title">Inicia Sesion</h1>
        <div class="login__body">

            <label class="label" for="">Email</label>
            <input class="input" type="text" placeholder="Ejdireccion@email.com">

            <label class="label" for="">Contraseña</label>
            <input class="input" type="password">

            <button class="login__button">Ingresar</button>

        </div>
    </section>


    </main>





    <footer>
        <section class="contactos-footer">
            <p class="subtitulo-footer">Contacto</p>
            <ul class="redes">
                <li><a href="#"> <img class="red" src="/images/wsp.png" alt="whatsapp"></a></li>
                <li><a href="#"> <img class="red" src="/images/inst.jpg" alt="instagram"></a></li>
                <li><a href="#"> <img class="red" src="/images/face.jpg" alt="facebook"></a></li>
            </ul>
            <ul class="contactos">
                <li><a href="#"> <img class="red" src="/images/mail.png" alt="mail"></a></li>
                <li>chocodreams@gmail.com</li>
            </ul>
            <ul class="contactos">
                <li><a href="#"> <img class="red" src="/images/tel.png" alt="telefono"></a></li>
                <li>11-2832-4923</li>
            </ul>
        </section>

        <section class="mediosDePago-footer">
            <p class="subtitulo-footer">Medios de pago</p>
            <ul class="mediosDePago">
            <li>MercadoPago</li>
            <li>Tarjeta de débito</li>
            <li>Tarjeta de crédito</li>
        </ul>
        </section>
        <section class="sucursales-footer">
            <p class="subtitulo-footer">Sucursales</p>
            <ul class="sucursales">
            <li>Ciudad Autónoma de Buenos Aires - Av. Corrientes 3453</li>
            <li>Río cuarto, Córdoba - Belgrano 34593</li>
            <li>Merlo, San Luis - Calle 15, 870</li>
        </ul>
        </section>
    </footer>
    <section class="sec-copyright">
        <p class="copyright">Copyright © 2008-2022 ChocolateDreams S.R.L.</p>
    </section>
</body>
</html>