<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalle Producto</title>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="images/logo choco.png" alt="logo de chocolateria">
            <div class="buscadorYcuenta">
                <p class="submit"><input type="search" placeholder="Buscar"></p><button type="submit"><i class="fa fa-search"></i></button>
                <nav class="top-navbar">
                    <ul class="miCuentayCarrito">
                        <li class="miCuenta"><a href="#"><i class="fas fa-sign-in-alt"></i>Mi cuenta</a></li>
                        <li class="miCarrito"><a href="#"><i class="fas fa-truck"></i>Mi carrito</i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="navbar">
                <li class="inicio"><a href="#">Inicio</a></li>
                <li><a href="#">Productos</li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="producto" Nombre del Producto></h3>
        <img class="img-articulo" src="images/caja chocolates.jpg" alt="Caja Chocolates">
        <p class="Precio" $5.200></p>
        <p class="descripcion">Box - 70 Mini Chocolates</p>

    </main>
</body>
</html>