<!DOCTYPE html>
<head>

<% include './partials/head' %>

    <body>

        <% include './partials/header' %>
            <main>
                <h2 class="producto">Nombre del Producto</h2>
                <img class="img-articulo" src="images/caja chocolates.jpg" alt="Caja Chocolates">
                <ul class="producto"></ul>
                <li>
                    <p class="Precio">$5.200</p>
                </li>
                <li>
                    <p class="descripcion">Box - 70 Mini Chocolates</p>
                </li>
                <li>
                    <p class="Formas-de-pago">Formas de Pago</p>
                </li><input type="text">
                <li>
                    <p class="Anadir-al-carrito">Añadir al Carrito</p>
                </li>
                </ul>
            </main>
            <% include './partials/footer' %>
    </body>

    </html>