<footer>
    <section class="contactos-footer">
        <p class="subtitulo-footer">Contacto</p>
        <ul class="redes">
            <li><a href="#"> <img class="red" src="/images/wsp.png" alt="whatsapp"></a></li>
            <li><a href="#"> <img class="red" src="/images/inst.jpg" alt="instagram"></a></li>
            <li><a href="#"> <img class="red" src="/images/face.jpg" alt="facebook"></a></li>
        </ul>
        <ul class="contactos">
            <li class="contacto"> <img class="red" src="/images/mail.png" alt="mail">chocodreams@gmail.com</li>
            <li class="contacto"> <img class="red" src="/images/tel.png" alt="telefono">11-2832-4923</li>
        </ul>
    </section>

    <section class="mediosDePago-footer">
        <p class="subtitulo-footer">Medios de pago</p>
        <ul class="mediosDePago">
        <li>MercadoPago</li>
        <li>Tarjeta de débito</li>
        <li>Tarjeta de crédito</li>
    </ul>
    </section>
    <section class="sucursales-footer">
        <p class="subtitulo-footer">Sucursales</p>
        <ul class="sucursales">
        <li>Ciudad Autónoma de Buenos Aires - Av. Corrientes 3453</li>
        <li>Río cuarto, Córdoba - Belgrano 34593</li>
        <li>Merlo, San Luis - Calle 15, 870</li>
    </ul>
    </section>
</footer>
<section class="sec-copyright">
    <p class="copyright">Copyright © 2008-2022 ChocolateDreams S.R.L.</p>
</section> 