<header>
    <div class="main-header-top-bar">
        <img class="logo" src="/images/logo choco.png" alt="logo de chocolateria">
        <div class="buscadorYcuenta">
            <p class="submit"><input type="search" placeholder="Buscar"></p><button type="submit"><i
                    class="fa fa-search"></i></button>
            <nav class="top-navbar">
                <ul class="miCuentayCarrito">
                    <li class="miCuenta"><a href="/login"><i class="fas fa-sign-in-alt"></i>Mi cuenta</a></li>
                    <li class="miCarrito"><a href="/cart"><i class="far fa-cart-plus"></i>Mi carrito</a></li>
                    <li class="crearCuenta"><a href="/register"><i class="fas fa-user"></i>Crear cuenta</i></a>
                </ul>
            </nav>
        </div>
    </div>
    <nav class="main-navbar">
        <ul class="navbar">
            <li class="inicio"><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Nosotros</a></li>
        </ul>
    </nav>


</header>